
.body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.initial-balloon{
    height: 200px;
    width: 200px;    
    background-color: red;
    border-radius: 100px;
}

 .balloon-green{
    background-color: green;   
}

.balloon-blue{
    background-color: blue;  
}

.balloon-red{
    background-color: red;
    
} 
.hidden-balloon{
    display:none;
}

.hidden-text {
    display:none;
}

.hidden-btn{
    display:none;
}

.text{
    display:flex;
    height:400px;
    width:400px;
    flex-direction: column;
    


}